.wrapper {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.logo {
    animation: spin 1.2s linear infinite;
}

.text {
    margin-top: 1rem;
    font-family: "Gotham", sans-serif;
    color: var(--savia-dark);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}