.title {
    font-family: "Avigea", serif;
    font-size: 2rem;
    color: var(--savia-dark);
    margin-bottom: 1.2rem;
    margin-top: 2em;
    font-weight: 800;
    text-align: center;
}

.swiper {
    padding-bottom: 5px;
}

.slide {
    width: 260px !important;
}

.card {
    background: #fff;
    border: 2px solid var(--savia-main);
    border-radius: 16px;
    padding: 1.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    background: #c92a2a;
    color: white;
    padding: 8px 18px;
    font-weight: bold;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 1rem;
    transform: translateY(-50%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    margin-top: 1.2em;
}

.imageWrapper {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    overflow: hidden;
    display: block;
    margin-bottom: 1rem;
}

.productImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.name {
    font-family: "Gotham", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    text-align: center;
}

.priceKg {
    font-size: 0.9rem;
    opacity: 0.7;
    margin-bottom: 1rem;
}

.gramControls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.gramBtn {
    background: var(--savia-main);
    color: #fff;
    border: none;
    padding: 0.45rem 0.7rem;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
    font-family: "Gotham", sans-serif;
    transition: background 0.15s ease-out;
}

.gramBtn:hover {
    background: #064c2c;
}

.input {
    width: 90px;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 0.95rem;
    font-family: "Gotham", sans-serif;
}

.finalPrice {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--savia-main);
    margin-bottom: 1rem;
}

.xgrams {
    font-size: 0.9rem;
    opacity: 0.7;
}

.btn {
    width: 100%;
    padding: 0.8rem;
    background: var(--savia-main);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-family: "Gotham", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.15s ease-out;
}

.btn:hover {
    background: #064c2c;
}

.btnDisabled {
    background: #c5c5c5 !important;
    cursor: not-allowed !important;
}

.btnDisabled:hover {
    background: #c5c5c5 !important;
}