.bannerContainer {
    position: relative;
    width: 100%;
    height: 35vh;
    min-height: 260px;
    overflow: hidden;
    margin-top: 3em;
    background-color: #003215;
}

/* Imagen de fondo */
.bannerImg {
    object-fit: contain;
    object-position: center;
    z-index: 1;
}



/* Desktop */
@media (min-width: 992px) {
    .bannerContainer {
        height: 65vh;
        background-color: #003215;

    }
}